{% extends "master-vitrina.html" %}

{% load utility %}
{% load static %}

{% block page_title %}
ProductThis
{% endblock %}


{% block page_styles %}
    <link rel="stylesheet" href="{% static 'products/video-style.css' %}">
<!-- обновление странички каждую 1 сек -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> -->
    <script src="{% static 'products/bower_components/jquery/dist/jquery.min.js' %}"></script>

{% endblock %}

{% block page_content %}
<div class="container" style="width: 100%; margin: 0;">
    <div class="row">
        <div class="col-4">

        </div>
    </div>
    <div class="row" id="ajax_list">

    </div>
    <div id="HidenElements" style="display: none;">

    </div>

</div>

    <div id="foreground_block" isrun="0" show="1" style="
                                                    position: fixed;
                                                    top: 0%;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    background-color: #ededed;
                                                    overflow: hidden;">
        {% if video_from_youtube %}
            <video id="videoplayer" muted="muted" src="{{video_from_youtube}}" loop="loop" width="1920" height="1080"></video>
        {% else %}
            <video id="videoplayer" muted="muted" src="/media/{{video_url_back}}" loop="loop" width="1920" height="1080"></video>
        {% endif %}
    </div>

<div class="order-control pull-right" style="position: absolute;
    z-index: 1000;
    width: 50%;
    bottom: 50px;
    right: 0;">

    <form role="form" method="POST" enctype="multipart/form-data" style="display: inline-flex;
    align-items: center;">

            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="">
<!--                <label for="{{ field.name }}" class="col-sm-3 text-right control-label col-form-label">{{ field.label }}</label>-->
                <div class="col-sm-9">
                    {{ field }}
                </div>
            </div>
            {% endfor %}


            <div class="card-body pull-right" style="margin-left: 10px;">
                <button style="font-size: 20px; padding: 20px 10px;" class="btn btn-success btn-sm" type="submit" class="btn btn-primary" value="submit">Заказ на кассу</button>
            </div>

    </form>
</div>

    <script>

        jQuery("#videoplayer")[0].play();

        var min_w = 300; // minimum video width allowed
        var vid_w_orig;  // original video dimensions
        var vid_h_orig;

        jQuery(function() { // runs after DOM has loaded
            // vid_w_orig = parseInt(jQuery('#videoplayer').attr('width'));
            // vid_h_orig = parseInt(jQuery('#videoplayer').attr('height'));
            // $('#debug').append("<p>DOM loaded</p>");

            // jQuery(window).resize(function () { resizeToCover(); });
            // jQuery(window).trigger('resize');

            // resizeToCover();

            jQuery("#videoplayer")[0].addEventListener("loadeddata", function() { /*startScale();*/ });
        });

        function startScale() {
            vid_w_orig = parseInt(jQuery('#videoplayer').attr('width'));
            vid_h_orig = parseInt(jQuery('#videoplayer').attr('height'));

            resizeToCover();
        }

        function resizeToCover() {
            // set the video viewport to the window size
            jQuery('#videoplayer').width(jQuery(window).width());
            jQuery('#videoplayer').height(jQuery(window).height());

            // use largest scale factor of horizontal/vertical
            var scale_h = jQuery(window).width() / vid_w_orig;
            var scale_v = jQuery(window).height() / vid_h_orig;
            var scale = scale_h > scale_v ? scale_h : scale_v;

            // don't allow scaled width < minimum video width
            if (scale * vid_w_orig < min_w) {scale = min_w / vid_w_orig;};

            // now scale the video
            jQuery('video').width(scale * vid_w_orig);
            jQuery('video').height(scale * vid_h_orig);
            // and center it by scrolling the video viewport
            jQuery('#videoplayer').scrollLeft((jQuery('video').width() - jQuery(window).width()) / 2);
            jQuery('#videoplayer').scrollTop((jQuery('video').height() - jQuery(window).height()) / 2);

            // // debug output
            // jQuery('#debug').html("<p>win_w: " + jQuery(window).width() + "</p>");
            // jQuery('#debug').append("<p>win_h: " + jQuery(window).height() + "</p>");
            // jQuery('#debug').append("<p>viewport_w: " + jQuery('#video-viewport').width() + "</p>");
            // jQuery('#debug').append("<p>viewport_h: " + jQuery('#video-viewport').height() + "</p>");
            // jQuery('#debug').append("<p>video_w: " + jQuery('video').width() + "</p>");
            // jQuery('#debug').append("<p>video_h: " + jQuery('video').height() + "</p>");
            // jQuery('#debug').append("<p>vid_w_orig: " + vid_w_orig + "</p>");
            // jQuery('#debug').append("<p>vid_h_orig: " + vid_h_orig + "</p>");
            // jQuery('#debug').append("<p>scale: " + scale + "</p>");
        };

        function AddRemoveAll(html) {
            var hiden = jQuery("#HidenElements");
            hiden.html(html);

            var real = jQuery("#ajax_list");

            var rElements = jQuery(real).find(".product");
            var pElements = jQuery(hiden).find(".product");

            for (var i = 0; i < rElements.length; i++) {
                var el = jQuery(rElements[i]);
                var el_class = el.attr("pk");

                if (pElements.filter("." + el_class).length == 0) {
                    hideElement(el, 0);
                }
            }

            for (var i = 0; i < pElements.length; i++) {
                var el = jQuery(pElements[i]);
                var el_class = el.attr("pk");

                if (rElements.filter("." + el_class).length == 0) {
                    var e = el.clone();
                    jQuery(real).append(e);

                    e.find(".startvideo").each(function(i,e) {
                        var ee = jQuery(e);
                        var id = ee.attr("id");
                        CreatePlayerElement(id);
                    });

                    showElement(e, 0);
                }
            }

        }


        function showElement(element, delay) {
            hideForeground();
            element.css( { "opacity": 0, "margin-top": "500px" } );
            element.delay(delay);
            element.animate({"margin-top": "0", "opacity": 1 }, {
                queue: true,
                duration: 800,
                done: function() {
                    hideForeground()
                }
            });
        }

        function hideElement(element, delay) {
            element.delay(delay);
            element.animate({"margin-top": "500px", "opacity": 0 }, {
                queue: true,
                duration: 800,
                done: function() {
                    element.detach();
                    showForeground()
                }
            });
        }

        function showForeground() {
            var l = jQuery("#ajax_list").find(".product").length;
            if (l > 0) return;

            var foreground = jQuery("#foreground_block");
            if (foreground.attr("isrun") != "0") return;
            if (foreground.attr("show") == "1") return;

            foreground.attr("isrun", "1").animate({ "top": "0%" }, {
                done: function() {
                    foreground.attr("isrun", "0");
                    foreground.attr("show", "1");
                }
            });
        }

        function hideForeground() {
            var l = jQuery("#ajax_list").find(".product").length;
            if (l == 0) return;

            var foreground = jQuery("#foreground_block");
            if (foreground.attr("isrun") != "0") return;
            if (foreground.attr("show") == "0") return;

            foreground.attr("isrun", "1").animate({ "top": "-100%" }, {
                done: function() {
                    foreground.attr("isrun", "0");
                    foreground.attr("show", "0");
                }
            });
        }


        function compare() {
            var hidenElements = jQuery(".product");
            hidenElements.css("margin-top", "500px");
            hidenElements.css("opacity", "0");

            var delay = 0;
            for (var i = 0; i < hidenElements.length; i++) {
                var el = jQuery(hidenElements[i]);
                el.delay(delay); delay += 200;
                // el.fadeIn(1000);
                el.animate({"margin-top": "0", "opacity": 1 }, { queue: true, duration: 800 });
            }

            var elements = jQuery('.compare_elements');

            var firstTable = elements.first();
            for (var i = 0; i < firstTable.find("tr").length; i ++) {
                var ftr = jQuery(firstTable.find("tr")[i]);

                for (var j = 1; j < elements.length; j++) {
                    var str = jQuery(jQuery(elements[j]).find('tr')[i]);

                    if (ftr.children().last().html() != str.children().last().html())
                    {
                        str.addClass("neq");
                        ftr.addClass("neq");
                    } else
                    {
                        str.addClass("eq");
                        ftr.addClass("eq");
                    }
                }
            }


        }
    </script>

<script>
    var old_html = "";

    setInterval(function() {

        jQuery.get("/vitrina_video_one_data_order/?r=" + Math.random(), function(data) {

            AddRemoveAll(data);

            // if (data != old_html) {
            //     old_html = data;
            //     jQuery("#ajax_list").html(data);
            //     compare();
            // }
        });

    }, 1000);

</script>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var players = [];
      var YoutubeReady = false;

      function CreatePlayerElement(playerID) {
        if (YoutubeReady)
            CreatePlayer(playerID);
        else
            players.push(playerID);
      }

      function CreatePlayer(playerID) {

          (function() {

                  // 4. The API will call this function when the video player is ready.
              this.onPlayerReady = function (event) {
                        window.pl = event.target;
                        window[event.target.getVideoEmbedCode()] = event.target;
                        event.target.mute();
                        event.target.setLoop();
                        event.target.playVideo();
                  }

              this.onPlayerStateChange = function (event) {
                    if (event.data === YT.PlayerState.ENDED) {
                        var f = window[event.target.getVideoEmbedCode()];
                        f.seekTo(0);
                        f.playVideo();
                    }
                  }

              player = new YT.Player(playerID, {
              height: '100%',
              width: '100%',
              playerVars: {
                //'controls': 0,
                'showinfo': 0,
                'rel': 0,
                'loop': 1

              },
              videoId: window.document.getElementById(playerID).getAttribute("ytid"),
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }

              });


          })(playerID);




      }

      function onYouTubeIframeAPIReady() {
        YoutubeReady = true;
        if (players.length > 0) {
            for (var i = 0; i < players.length; i++) {
                CreatePlayer(players[i]);
            }
        }
      }


    </script>

{% endblock %}
