{% extends 'main.html' %}

{% block titly %}
Настройка компании
{% endblock %}

{% block body %}
<H1 class="container">Настройка компании</H1>
<br>
<br>
<form action="" method="post" role="form">
    <fieldset>
    <div class="container">
        <div class="form-group">
            <label for="messages">Введите uid компании для загрузки данных с сервера</label>
            <input type="text" name="messages" class="form-control" id="messages" placeholder="6045cb52-8b38-41f9-8529-ca25aba19781">
            </input>
        </div>
        <button type="submit" class="btn btn-success" value="Отправить">Отправить</button>
    </div>
        </fieldset>
</form>
{% endblock %}
