<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>
        {% block titly %}
        {% endblock %}
    </title>
<!--    <link rel="stylesheet" href="{{static}}css/style.css">-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li class="active nav-item"><a class="nav-link" href="#">Блоками</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Видео 3 продукта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Видео 1 продукт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Видео 1 заказ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8080">Настройки</a>
                </li>

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Регистрация</a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>

